<!-- topics/templates/topics/document-selctor.html -->

{% load static %}

<div class="modal">
	<div class="modal-content">
		<span class="close">&times;</span>
		<h3>Select Documents</h3>
		<div>
			<input type="text" id="document-filter" placeholder="Filter documents..." />
		</div>
		<div class="document-container">
			<div id="document-list"></div>
			<div id="document-preview">
				<h3 class="preview-placeholder">Preview</h3>
				<div class="preview-doc">
					<h3 class="preview-doc-name"></h3>
					<div class="preview-doc-content"></div>
				</div>
			</div>
		</div>
		<div class="document-buttons">
			<label class="custom-file-upload">
				<img src="{% static 'svg/document.svg' %}" alt="Document Icon">
				Upload File
				<input type="file" id="document-upload" accept=".txt,.csv,.json,.pdf">
			</label>
			<button id="document-select-all" class="btn btn-c2">Select All</button>
			<button id="document-clear" class="btn btn-c2">Unselect All</button>
			<button id="document-close-upload" class="btn btn-c2">Close</button>
		</div>
	</div>
</div>