<!-- topics/templates/topics/quiz.html -->

{% load static %}

<div class="modal">
	<div class="modal-content">
		<span class="close">&times;</span>
		<h2 id="quiz-question">Loading question...</h2>
		<div id="quiz-answers">
			<button class="btn-lg btn-c3">Answer 1</button>
			<button class="btn-lg btn-c3">Answer 2</button>
			<button class="btn-lg btn-c3">Answer 3</button>
			<button class="btn-lg btn-c3">Answer 4</button>
		</div>
		<div id="quiz-result">&nbsp;</div>
		<div class="quiz-buttons">
			<button id="skip-button" class="btn btn-c2">Skip</button>
			<button id="explain-button" class="btn btn-c2">Explain</button>
		</div>
	</div>
	<div class="loading-overlay">
		<img
			src="{% static 'svg/bars-scale-middle.svg' %}"
			alt="Loading..."
		>
	</div>
</div>