<!-- topics/templates/topics/explanation.html -->

{% load static %}

<div class="modal">
	<div class="modal-content">
		<button class="close">&times;</button>
		<h2 id="explanation-question">Loading explanation...</h2>
		<div id="explanation-answer"></div>
		<div id="explanation-content"></div>
		<div class="explanation-buttons">
			<button id="close-explanation-button" class="btn btn-c2">Close</button>
		</div>
	</div>
	<div class="loading-overlay">
		<img src="{% static 'svg/bars-scale-middle.svg' %}" alt="Loading...">
	</div>
</div>
