<!-- topics/templates/topics/quiz.html -->

{% load static %}

<div class="modal">
	<div class="modal-content">
		<button class="close">&times;</button>
		<h3 id="quiz-question">Loading question...</h3>
		<div id="quiz-details"></div>
		<div id="quiz-answers">
			<button class="btn-lg btn-c3">Answer 1</button>
			<button class="btn-lg btn-c3">Answer 2</button>
			<button class="btn-lg btn-c3">Answer 3</button>
			<button class="btn-lg btn-c3">Answer 4</button>
		</div>
		<textarea id="quiz-open-answer"></textarea>
		<div id="quiz-editor">
			<div id="quiz-editor-code"></div>
			<div id="quiz-editor-text" contenteditable="true" spellcheck="false"></div>
		</div>
		<div id="quiz-result">&nbsp;</div>
		<div class="quiz-footer">
			<div class="quiz-buttons">
				<button id="quiz-submit-btn" class="btn btn-c1">Submit</button>
				<button id="quiz-skip-btn" class="btn btn-c2">Skip</button>
				<button id="quiz-explain-btn" class="btn btn-c2">Explain</button>
				<button id="quiz-reset-btn" class="btn btn-c2">Reset</button>
			</div>
			<div class="quiz-score">
				0/0
			</div>
		</div>
	</div>
	<div class="loading-overlay">
		<img src="{% static 'svg/bars-scale-middle.svg' %}" alt="Loading..." >
	</div>
</div>