<!-- topics/templates/topics/topic_prompt.html -->
{% load static %}

<div id="topic-prompt">
	<img
		id="prompt-loading"
		src="{% static 'svg/bars-scale-middle.svg' %}"
		alt="Loading..."
		style="display: none;"
	>
	<h2 id="prompt-message">{{ prompt_message }}</h2>
	<div id="prompt-response" style="display: none">
		<div id="topic-name"></div>
		<p id="topic-summary">
		</p>
		<div class="continue-btn-container">
			<button id="continue-btn">Continue</button>
		</div>
		<div>Suggestions:</div>
		<ul id="topic-suggestions"></ul>
	</div>
	{% csrf_token %}
	<div id="prompt-error" style="display: none"></div>
	<input id="input-topic" type="text" name="topic" placeholder="Enter a topic..." required>
	<div id="txt-description-container" style="display: none">
		<label for="txt-description">Topic Description:</label>
		<textarea id="txt-description" maxlength="1000"></textarea>
	</div>
	<div class="control-btn-containers">
		<button id="submit-btn" style="display: none">Submit</button>
		<button id="reset-btn" style="display: none">Reset</button>
	</div>
</div>

<script src="{% static 'js/topics_prompt.js' %}"></script>