/* colors.css */

:root {
	/* Light mode colors */
	--background-color: #cfcfcf;
	--text-color-primary: #000000;
	--text-color-secondary: #333;
	--container-bg-color: #f4f4f4;
	--input-bg-color: #fff;
	--shadow-color-light: rgba(0, 0, 0, 0.1);
	--shadow-color-dark: rgba(0, 0, 0, 0.5);
	--border-color-light: #ddd;
	--tab-active-color: #4CAF50;
	--tab-bg-color: #ddd;
	--loading-overlay: rgba(255, 255, 255, 0.8);
	--modal-overlay: rgba(0, 0, 0, 0.4);
	--track-bg-color: #ddd;
	--thumb-bg-color: #ccc;
	--thumb-border-color: #777;
	--thumb-hover-bg-color: #bbb;
	--thumb-horizontal-bg-color: #eee;

	/* Button 1 */
	--button-primary-text-color: #fff;
	--button-primary-bg-color: #383;
	--button-primary-hover-bg-color: #363;

	/* Button 2 */
	--button-secondary-text-color: #000000;
	--button-secondary-bg-color: #f1f1f1;
	--button-secondary-border-color: #ccc;
	--button-secondary-hover-bg-color: #ddd;

	/* Button 3 */
	--button-tertiary-text-color: #000;
	--button-tertiary-bg-color: #fff;
	--button-tertiary-border-color: #9797ce;
	--button-tertiary-hover-border-color: #55e;
	--button-tertiary-hover-bg-color: #eee;
	--button-tertiary-disabled-border-color: #999;

	/* Button 4 */
	--button-4-bg-color: #833;
	--button-4-text-color: #fff;
	--button-4-hover-bg-color: #633;
	
	/* Status Colors */
	--status-success-color: #383;
	--status-success-color-light: #dede;
	--status-error-color: #833;
	--status-error-color-light: #faa;

	.icon-light {
		display: none;
	}
}

[data-theme="dark"] {
	/* Dark mode colors */
	--background-color: #1c1c1c;
	--text-color-primary: #aaa;
	--text-color-secondary: #888;
	--container-bg-color: #222;
	--input-bg-color: #1e1e1e;
	--shadow-color-light: rgba(255, 255, 255, 0.1);
	--shadow-color-dark: rgba(255, 255, 255, 0.25);
	--border-color-light: #3f3f3f;
	--tab-active-color: #4CAF50;
	--tab-bg-color: #2f2f2f;
	--loading-overlay: rgba(0, 0, 0, 0.8);
	--modal-overlay: rgba(0, 0, 0, 0.4);
	--track-bg-color: #1a1a1a;
	--thumb-bg-color: #333;
	--thumb-border-color: #555;
	--thumb-hover-bg-color: #2a2a2a;
	--thumb-horizontal-bg-color: #333;

	/* Button 1 */
	--button-primary-text-color: #eaeaea;
	--button-primary-bg-color: #383;
	--button-primary-hover-bg-color: #363;

	/* Button 2 */
	--button-secondary-text-color: #f4f4f4;
	--button-secondary-bg-color: #4a4a4a;
	--button-secondary-border-color: #777777;
	--button-secondary-hover-bg-color: #666666;

	/* Button 3 */
	--button-tertiary-text-color: #eaeaea;
	--button-tertiary-bg-color: #111;
	--button-tertiary-border-color: #9797ce;
	--button-tertiary-hover-border-color: #55e;
	--button-tertiary-hover-bg-color: #181818;
	--button-tertiary-disabled-border-color: #999;

	/* Status Colors */
	--status-success-color: #3a3;
	--status-error-color: #e33;
	--status-success-color-light: #091209ee;
	--status-error-color-light: #120909ee;

	.icon-light {
		display: block;
	}
	.icon-dark {
		display: none;
	}
}

/* Apply theme colors */

body {
	background-color: var(--background-color);
	color: var(--text-color-primary);
}

#theme-toggle {
	background-color: var(--button-bg-color-2);
	color: var(--text-color-primary);
}
#theme-toggle:hover {
	background-color: var(--button-hover-bg-color-2);
}

input,
textarea,
select {
	border: 1px solid var(--text-color-primary);
	background-color: var(--input-bg-color);
	color: var(--text-color-primary);
}

input:disabled,
textarea:disabled,
select:disabled {
	background-color: var(--button-tertiary-disabled-border-color);
}

select {
	cursor: pointer;
}

.outer-container {
	background-color: var(--container-bg-color);
	box-shadow: 0 0 10px var(--shadow-color-light);
}

.tab-container {
	background-color: var(--tab-bg-color);
}

.tab {
	color: var(--text-color-secondary);
}

.tab.active {
	color: var(--text-color-primary);
	background-color: var(--container-bg-color);
	border-top: 2px solid var(--tab-active-color);
}

h2 {
	color: var(--text-color-primary);
}

.btn-c1 {
	background-color: var(--button-primary-bg-color);
	color: var(--button-primary-text-color);
}

.btn-c1:hover {
	background-color: var(--button-primary-hover-bg-color);
}

.btn-c2 {
	background-color: var(--button-secondary-bg-color);
	color: var(--button-secondary-text-color);
	border-color: var(--button-secondary-border-color) !important;
}

.btn-c2:hover {
	background-color: var(--button-secondary-hover-bg-color);
}

.btn-c3 {
	background-color: var(--button-tertiary-bg-color);
	color: var(--button-tertiary-text-color);
	border-color: var(--button-tertiary-border-color);
}
.btn-c3:hover {
	background-color: var(--button-tertiary-bg-color);
	border-color: var(--button-tertiary-hover-border-color);
}
.btn-c3:disabled {
	border-color: var(--button-tertiary-disabled-border-color);
	background-color: var(--button-tertiary-hover-bg-color);
	cursor: default;
}

.btn-c3.correct {
	border-color: var(--status-success-color);
}
.btn-c3.wrong {
	border-color: var(--status-error-color);
}

.btn-c4 {
	background-color: var(--button-4-bg-color);
	color: var(--button-4-text-color);
}

.btn-c4:hover {
	background-color: var(--button-4-hover-bg-color);
}

.border {
	border-color: var(--border-color-light);
}

#topics-content li:hover {
	background-color: var(--button-tertiary-hover-bg-color);
}

#suggestions li:hover {
	background-color: var(--button-secondary-hover-bg-color);
}

#suggestions li {
	background-color: var(--button-secondary-bg-color);
	border: 1px solid var(--button-secondary-bg-color);
}

#suggestions li.selected {
	border-color: var(--text-color-primary);
}

.loading-overlay {
	background-color: var(--loading-overlay);
}

#topics-content li {
	border: 1px solid var(--border-color-light);
	background-color: var(--container-bg-color);
}

#topics-content li:hover {
	background-color: var(--button-tertiary-hover-bg-color);
}

#topics-content li p.short:hover {
	background-color: var(--button-tertiary-hover-bg-color);
	box-shadow: 0px 0px 10px var(--shadow-color-dark);
}

#topics-content input[type="text"] {
	border: 1px solid var(--text-color-primary);
}

.result-success {
	color: var(--status-success-color);
}

.result-error {
	color: var(--status-error-color);
}

.modal-overlay {
	background-color: var(--modal-overlay);
}

.modal {
	background-color: var(--container-bg-color);
	box-shadow: 0 4px 8px var(--shadow-color-dark);
}

#quiz-answers h2 {
	color: var(--text-color-primary);
}

textarea.quiz-correct {
	border: 2px solid var(--status-success-color);
	background-color: var(--status-success-color-light);
}
textarea.quiz-wrong {
	border: 2px solid var(--status-error-color);
	background-color: var(--status-error-color--light);
}

::-webkit-scrollbar-track {
	background: var(--track-bg-color);
}

::-webkit-scrollbar-thumb {
	background: var(--thumb-bg-color);
	border: 3px solid var(--thumb-border-color);
}

::-webkit-scrollbar-thumb:hover {
	background: var(--thumb-hover-bg-color);
}

::-webkit-scrollbar-thumb:horizontal {
	border: 3px solid var(--thumb-horizontal-bg-color);
}

/* Explanation modal */

#explanation-modal h2 {
	color: var(--text-color-primary);
}

#explanation-content p {
	color: var(--text-color-primary);
}
