#document-selector-modal .modal-content {
	text-align: left;
}
#document-selector-modal .modal {
	max-width: 800px;
}
#document-filter {
	width: calc(100% - 23px);
	margin-bottom: 15px;
}
#document-selector-modal .document-container {
	font-size: 0;
}
#document-selector-modal .document-container > div {
	display: inline-block;
	vertical-align: top;
	font-size: 16px;
	height: 250px;
	border: 1px solid var(--border-color-light);
	border-radius: 5px;
	padding: 15px;
	width: calc(50% - 40px);
}
#document-list {
	margin-right: 15px;
}
.document-item {
	display: flex;
	align-items: center;
	margin-bottom: 5px;
	justify-content: space-between;
}
.document-item input[type="checkbox"] {
	margin-right: 10px;
}
.preview-placeholder {
	margin: auto;
	text-align: center;
	vertical-align: middle;
	position: relative;
	top: 100px;
	color: #888;
}

#document-upload {
	display: none;
}

.custom-file-upload {
	width: 140px;
	display: inline-block;
	padding: 6px 12px;
	cursor: pointer;
	border-radius: 4px;
	background-color: var(--button-secondary-bg-color);
	color: var(--button-secondary-text-color);
	border: 1px solid var(--button-secondary-border-color);
}

.custom-file-upload:hover {
	background-color: var(--button-secondary-hover-bg-color);
}

.custom-file-upload img {
	width: 18px;
	position: relative;
	top: 2.5px;
}

.document-item {
	user-select: none;
}

.document-item label {
	cursor: pointer;
}

.document-item button {
	width: 32px;
	height: 32px;
	padding: 0;
	margin: 0;
}

.preview-button.active {
	background-color: #24249e;
}

.preview-button .icon-preview-active {
	display: none;
}
.preview-button .icon-preview {
	display: inline;
}

.preview-button.active .icon-preview {
	display: none;
}

.preview-button.active .icon-preview-active {
	display: inline;
}

.preview-doc {
	display: none;
}

.preview-doc-name {
	margin-top: 0;
	margin-bottom: 0;
	border-bottom: 1px solid black;
}

.preview-doc-content {
	overflow: auto;
	max-height: 230px;
	white-space: pre-line;
}

.document-buttons {
	margin-top: 15px;
}

.document-buttons button,
.custom-file-upload {
	margin-right: 6px;
}
