{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Study Helper</title>
	<link rel="stylesheet" href="{% static 'css/colors.css' %}">
	<link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
	<header id="main-header">
		<h1>Study Helper</h1>
		<button id="theme-toggle">
			<img class="icon-dark"
				src="{% static 'svg/darkmode-btn.svg' %}"
				alt="Dark mode icon"
			>
			<img
				class="icon-light"
				src="{% static 'svg/lightmode-btn.svg' %}"
				alt="Light mode icon"
			>
		</button>
	</header>
	<div id="page-wrap">
		<main>
			<div class="outer-container">
				<div class="tab-container">
					<button class="tab active" data-tab="generator">Topic Generator</button>
					<button class="tab" data-tab="topics">Topics</button>
					<button class="tab" data-tab="about">About</button>
				</div>
				<div class="content-container">
					<div id="generator-content" class="tab-content active" data-view="topics:generate"></div>
					<div id="topics-content" class="tab-content" data-view="topics:topics" style="display: none;"></div>
					<div id="about-content" class="tab-content" data-view="about" style="display: none;"></div>
				</div>
			</div>
		</main>
	</div>
	<div id="quiz-modal" class="modal-overlay" style="display: none;" data-view="topics:quiz"></div>
	<div id="modal-alert" class="modal-overlay" style="display: none;">
		<div class="modal">
			<div class="modal-content">
				<div class="alert_message"></div>
				<button class="ok-button alert-button">OK</button>
			</div>
		</div>
	</div>
	<script src="{% static 'js/main.js' %}"></script>
	<script src="{% static 'js/topic_generator.js' %}"></script>
	<script src="{% static 'js/topics_filter.js' %}"></script>
	<script src="{% static 'js/topics_quiz.js' %}"></script>
</body>
</html>
